<%-include('partials/header')%><%-include('partials/navbar')%>
<div class="container">
  <div class="row">
    <div class="card col mt-3">
      <a href="/evaluations">
        <div class="card-body">
          <p class="card-text">Submit New Evalation</p>
        </div>
      </a>
    </div>
    <div class="card col mt-3">
      <a href="/verifyEvaluations">
        <div class="card-body">
          <p class="card-text">View Evaluations</p>
        </div>
      </a>
    </div>
  </div>
</div>
<%-include('partials/footer')%>
