<%-include('partials/header')%><%-include('partials/navbar')%>
<div class="container">
  <form>
    <div class="form-row">
      <div class="form-group col">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" />
      </div>
      <div class="form-group col">
        <label for="email">Email address</label>
        <input
          name="email"
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="jobTitle">Job Title</label>
        <input
          class="form-control"
          type="text"
          id="jobTitle"
          name="jobTitle"
          value="<%=job%>"
          disabled
        />
        <div>
          <a href="/jobCategory">Add Job Title</a>
        </div>
      </div>
      <div class="form-group col">
        <label for="competencies">Competencies</label>
        <input
          class="form-control"
          type="text"
          name="competencies"
          id="competencies"
          disabled
        />
        <a href="/competencyCategories">Add Competency</a>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<%-include('partials/footer')%>
