<%-include('partials/header')%><%-include('partials/navbar')%>
<div class="container">
  <h1 class="h1">Evaluations</h1>
  <ul class="list-group">
    <%dates.forEach((date)=> {%>
    <li class="list-group-item"><%=date.date%> <%})%></li>
  </ul>
  <form action="/evaluations" method="POST">
    <button type="submit" class="btn btn-primary mt-2">New Evaluation</button>
  </form>
</div>
<%-include('partials/footer')%>
